/* CSS styles */
.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#upstyle-w {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.upstyle-letter::after,
.upstyle-letter::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
}

.upstyle-letter::after {
    bottom: 16px;
}

.upstyle-letter::before {

    top: 16px;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 0px;
    font-family: 'Didot', sans-serif;
}

.gif-container {
    display: flex;
    justify-content: center;
    /* This will center the GIFs horizontally */
    align-items: center;
    /* This will align the GIFs vertically */
    margin-top: 40px;
    /* Adjust based on spacing needed from the UPSTYLE text */
}

.gif-container img {
    margin-right: 15px;
    /* Adds some space between the two GIFs */
    width: auto;
    /* Maintains the aspect ratio of the GIFs */
    height: 100px;
    /* Adjust based on the desired size, keeping them uniform */
}

/* Optional: Remove margin from the last image */
.gif-container img:last-child {
    margin-right: 0;
}

.input-box {
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    outline: 0;
    border-radius: 15px;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
    color: white;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-color: black;
}